<div class="row">
    <div class="header col-md-12 header-print">
        <div class="no-print rightText" id="bypassme">
            <button style="margin: 10px 10px;" class="btn btn-large dontprint" onclick="DownloadPDF()" disabled>Download <i
                class="icon-white icon-folder-open"></i></button>
            <form id="form-download-file" action="/getfile.php" method="POST" hidden>
                <input value="" type="text" name="url">
            </form>
        </div>

    </div>
</div>

<div class="row" style="font-size:16px; margin-top:20px; margin-left:-10px;">
    <!-- <div class="col-md- col-md-offset-1"> -->
        <table class="table table-hover table-bordered" id="top-header">
            <tbody>
            <tr class="stable-row">
                <td style="width:50%">
                    <p style="text-align: left;">
                        <img align="left" id="imgData" alt="MDT LOGO" src="img/Logo.png" style="width: 200px;">
                    </p>
                </td>
                <td style="font-size:14px;">
                    <strong>Company Name:</strong>  {{ data.supplier.name }} <br/>
                    <strong>Contact Name:</strong>  {{ data.contact.name }} <br/>
                    <strong>Contact Phone:</strong> <span ng-show="data.contact.workPhone">{{ data.contact.workPhone | tel }}</span> <br/>
                    <strong>Contact Email:</strong>  {{ data.contact.email }}  <br/>
                    <strong>Material Number:</strong> {{ data.material.mdtID }}<br/>
                    <strong>SampleIn ID:</strong> {{ sampinId }} <br/>

                </td>
            </tr>
            </tbody>
        </table>


        <table class="table table-hover table-bordered" style="color:blue; font-size:18px;">
            <thead>
            <tr>
                <th class="para">Parameters</th>
                <th class="result">Provided</th>
                <th class="result">Tested</th>
            </tr>
            </thead>
            <tbody>
             <tr class="stable-row">
                <td class="para">Melt Flow</td>
                <td class="result">{{ data.provided.meltFlow }} <span ng-show="data.provided.meltFlow > 0">dg/min</span></td>
                <td class="result">{{ data.tested.meltFlow }} <span ng-show="data.tested.meltFlow > 0">dg/min </span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Filler Content</td>
                <td class="result">{{ data.provided.fillerContent }} <span ng-show="data.provided.fillerContent > 0">%</span></td>
                <td class="result">{{ data.tested.fillerContent }} <span ng-show="data.tested.fillerContent > 0">%</span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Density</td>
                <td class="result">{{ data.provided.density }} <span ng-show="data.provided.density > 0">g/cm^3</span></td>
                <td class="result">{{ data.tested.density }} <span ng-show="data.tested.density > 0">g/cm^3</span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Tensile Strength</td>
                <td class="result">{{ data.provided.tensileStrength }} <span ng-show="data.provided.tensileStrength > 0">psi</span></td>
                <td class="result">{{ data.tested.tensileStrength }} <span ng-show="data.tested.tensileStrength > 0">psi</span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Flexural Modulus</td>
                <td class="result">{{ data.provided.flexuralModulus }} <span ng-show="data.provided.flexuralModulus > 0">psi</span></td>
                <td class="result">{{ data.tested.flexuralModulus }} <span ng-show="data.tested.flexuralModulus > 0">psi</span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Color Reading</td>
                <td class="result">{{ data.provided.colorReading }}</td>
                <td class="result">{{ data.tested.colorReading }}</td>
            </tr>
            <tr class="stable-row">
                <td class="para">Izod-Notched</td>
                <td class="result">{{ data.provided.izodNotched }} <span ng-show="data.provided.izodNotched > 0">ft-lb/in</span></td>
                <td class="result">{{ data.tested.izodNotched }} <span ng-show="data.tested.izodNotched > 0">ft-lb/in</span></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Color</td>
                <td class="result" style="text-transform: capitalize;">{{ data.provided.color }}</td>
                <td class="result"></td>
            </tr>
            <tr class="stable-row">
                <td class="para">Monthly Volume</td>
                <td class="result">{{ data.monthlyVolume }}</td>
                <td class="result"></td>
            </tr>
            </tbody>
        </table>
    <!-- </div> -->
</div>



   
